<div class="container">
 <h1>Editing Consumption</h1>

 <%= render 'form', consumption: @consumption %>

 <%= link_to 'Show', @consumption %> |
 <%= link_to 'Back', apartment_consumptions_path %>



</div>
