<div class="container">
<p id="notice"><%= notice %></p>

<h1>Consumptions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consumptions.each do |consumption| %>
      <tr>
        <td> <%=  %><%#= link_to 'Show', apartment_consumption_path(consumption) %></td>
        <td><%#= link_to 'Edit', edit_apartment_consumption_path(consumption) %></td>
<!--         <td><%#= link_to 'Destroy', consumption, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 -->      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Home', root_path %>
<%= link_to 'New Consumption', new_apartment_consumption_path %>


</div>
